<nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex shadow">
    <div style="font-size: larger; font-weight: bold">
        <img src="/assets/favicon.png">
    </div>

    <div class="navbar-brand flex-grow-1" style="margin-left: 20px">
        Mascotas
    </div>

    <div class="navbar-brand">Docs:</div>
    <div class="btn-group navbar-nav">
        <a href="http://localhost:3000/" target="auth" class="btn btn-outline-secondary btn-sm nav-link" style="color: white;">ApiDoc</a>
    </div>
</nav>