<h2>{{petId ? "Editar Mascota" : 'Nueva Mascota' }}</h2>

<form [formGroup]="form">

    <div class="form-group">
        <label for="login">Nombre</label>
        <input class="form-control" [class.is-invalid]="hasError('name')" id="name" formControlName="name">
        <div *ngIf="hasError('name')" class="invalid-feedback">{{getErrorText('name')}}</div>
    </div>

    <div class="form-group">
        <label for="login">Descripción</label>
        <input class="form-control" [class.is-invalid]="hasError('description')" id="description" formControlName="description">
        <div *ngIf="hasError('description')" class="invalid-feedback">{{getErrorText('description')}}</div>
    </div>

    <div class="form-group">
        <label for="login">Fecha Nacimiento</label>
        <input class="form-control" [class.is-invalid]="hasError('birthDate')" id="birthDate" formControlName="birthDate">
        <div *ngIf="hasError('birthDate')" class="invalid-feedback">{{getErrorText('birthDate')}}</div>
    </div>

    <div *ngIf="errorMessage" class="invalid-feedback">{{errorMessage}}</div>

    <div class="btn-group ">
        <button class="btn btn-primary" (click)="submitForm()" [disabled]="form.invalid">Guardar</button>
        <button class="btn btn-warning" *ngIf="petId" (click)="onDelete()">Eliminar</button>
        <button class="btn btn-light" [routerLink]="['/mascotas']">Cancelar</button>
    </div>
</form>