<h2>Mascotas</h2>
<div class="container">
    <table id="mascotas" class="table">

        <head>
            <tr>
                <th> Nombre </th>
                <th> Descripción </th>
                <th> </th>
            </tr>
        </head>
        <tbody>
            <tr *ngFor="let pet of pets">
                <td>{{pet.name}}</td>
                <td>{{pet.description}}</td>
                <td class="text">
                    <img src="/assets/edit.png" name="editar" [routerLink]="['/nuevaMascota/' + pet.id ]" />
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-success" [routerLink]="['/nuevaMascota']">Nueva</button>
    <button class="btn btn-default" [routerLink]="['/']">Volver</button>
</div>