<h2>Perfil</h2>

<form [formGroup]="form">

    <div class="form-group">
        <label for="login">Nombre</label>
        <input class="form-control" [class.is-invalid]="hasError('name')" id="name" formControlName="name">
        <div *ngIf="hasError('name')" class="invalid-feedback">{{getErrorText('name')}}</div>
    </div>

    <div class="form-group">
        <label for="name">Imagen</label><BR>

        <app-file-upload allowedTypes="image/*" uploadButtonText="Upload File" formControlName="picture"
            (ngModelChange)="updateImage($event)">
        </app-file-upload>

        <div *ngIf="hasError('picture')" class="invalid-feedback">{{getErrorText('picture')}}</div>
    </div>

    <div class="form-group">
        <label for="login">Email</label>
        <input class="form-control" [class.is-invalid]="hasError('email')" id="email" formControlName="email">
        <div *ngIf="hasError('email')" class="invalid-feedback">{{getErrorText('email')}}</div>
    </div>

    <div class="form-group">
        <label for="login">Provincia</label>
        <select class="form-control" [class.is-invalid]="hasError('province')" formControlName="province">
            <option *ngFor="let item of provinces" [value]="item.id">{{item.name}}</option>
        </select>

        <div *ngIf="hasError('province')" class="invalid-feedback">{{getErrorText('province')}}</div>
    </div>

    <div class="form-group">
        <label for="login">Dirección</label>
        <input class="form-control" [class.is-invalid]="hasError('address')" id="address" formControlName="address">
        <div *ngIf="hasError('address')" class="invalid-feedback">{{getErrorText('address')}}</div>
    </div>

    <div class="form-group">
        <label for="login">Teléfono</label>
        <input class="form-control" [class.is-invalid]="hasError('phone')" id="phone" formControlName="phone">
        <div *ngIf="hasError('phone')" class="invalid-feedback">{{getErrorText('phone')}}</div>
    </div>

    <div *ngIf="errorMessage" class="invalid-feedback">{{errorMessage}}</div>

    <div class="btn-group ">
        <button class="btn btn-primary " (click)="submitForm() " [disabled]="form.invalid">Guardar</button>
        <button class="btn btn-light " [routerLink]="[ '/'] ">Cancelar</button>
    </div>
</form>